body {
    width: 100%;
    max-width: 40em;
    font-size: 1.5em;
    line-height: 1.5;
    margin: 2em auto;
    overflow-y: scroll;
}

#filterdiv {
    margin-top: 10px
}

#keyBtn {
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 100px;
}

#filterdiv #newKey { 
    font-size: 16px; 
    background-color: #8DABFF;
    border: 2px solid black;
    border-radius: 2px;
    height: 24px;
    overflow: hidden;
    max-width: 400px;
    margin: auto;
}

#filterdiv #currentKeys {
    font-size: 14px; 
}

.keyword_d {
    border: 1px solid black;
    background-color: #C6C6C6;
    border-radius: 2px;
    display: inline-block;
    padding: 3px 5px 3px 10px;
    margin: 0 3px 0 3px;
}

.keyword_d p {
    display: inline;
    margin-right: 10px;
    font-weight: bold;

}

.keyword_d button {
    display: inline;
    font-weight: bold;
    border: none;
    background: none;
}

.keyword_d button:focus { outline: none; }

#heading {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Verdana;
}

.reddit-dump {
    padding: 1rem;
    font-size: 0.8em;
    line-height: 1;
    white-space: pre-wrap;
}

#urllink {
    background-color: #8DABFF;
    border: 2px solid black;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    max-width: 46em;
}

.rpost {
    background-color: #4A4A4A;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-origin: 2px;
    margin-top: 10px;
    padding: 10px;
}

.rauthor {
    color: #7882FF;
    margin-bottom: 5px;
    font-weight: bold
}

#searchb {
    display: block;
    margin: auto;
    margin-top: 8px;
    width: 100px;
    /*font-size: 18px;*/
}

a {
    color: #B3CCFF;
}

.highlighted {
    background-color: #FFECA1;
}

.gen0 {border-left: 5px solid blue;}
.gen1 {border-left: 5px solid orange;}
.gen2 {border-left: 5px solid green;}
.gen3 {border-left: 5px solid yellow;}