body {
    width: 100%;
    max-width: 38em;
    font-size: 1.5em;
    line-height: 1.5;
    margin: 2em auto;
    overflow-y: scroll;
    font-family: Helvetica
}

#filterdiv {
    margin-top: 10px
}

#keyBtn {
    display: block;
    margin: auto;
    margin-top: 8px;
    width: 100px;
    margin-bottom: 15px
}

#filterdiv #newKey { 
    font-size: 16px; 
    background-color: #8DABFF;
    border: 2px solid black;
    border-radius: 2px;
    height: 24px;
    overflow: hidden;
    max-width: 400px;
    margin: auto
}

.keyword_d {
    border: 1px solid black;
    background-color: #C6C6C6;
    border-radius: 2px;
    display: inline-block;
    padding: 0px 5px 0px 10px;
    margin: 3px;
    cursor: pointer
}

.keyword_d:hover {
    filter: brightness(1.15)
}

.keyword_d p {
    display: inline;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle
}

.keyword_d span {
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle
}

.keyword_d button {
    display: inline;
    font-weight: bold;
    border: none;
    background: none;
    vertical-align: middle;
    margin-top: -3px;
    cursor: pointer
}

.keyword_d button:focus { 
     outline: none
}

#heading {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Verdana
}

.reddit-dump {
    padding: 1rem;
    font-size: 0.8em;
    line-height: 1;
    white-space: pre-wrap
}

#urllink {
    background-color: #8DABFF;
    border: 2px solid black;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    width: 100%
}

.rpost {
    background-color: #4A4A4A;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-origin: 2px;
    margin-top: 10px;
    padding: 10px
}

.rauthor {
    color: #7882FF;
    margin-bottom: 5px;
    font-weight: bold
}

#searchb {
    display: block;
    margin: auto;
    margin-top: 8px;
    width: 100px
}

#checkdiv {
   text-align: right;   
   font-size: 16px;
   margin-right: -20px;
   margin-top: -25px
}

a {
    color: #B3CCFF
}

.highlighted {
    background-color: #FFECA1
}

.gen0 {border-left: 5px solid blue;}
.gen1 {border-left: 5px solid orange;}
.gen2 {border-left: 5px solid green;}
.gen3 {border-left: 5px solid yellow;}